body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to left, rgb(70, 49, 193) 0%, rgb(0, 128, 119) 100%);
  text-align: center;
}
.app-title {
  margin-top: 50px;
  margin-bottom: 20px;
  font-size: 75px;
  color: #2dcd2d;
  font-family: 'bigelow rules', cursive;
}
